.paragraph {
  p,
  blockquote {
    &:not(:last-child) {
      margin-bottom: var(--lh);
    }
  }

  blockquote {
    @include padding(0 0 0 4);
  }

  i,
  em {
    font-style: italic;
  }

  .glossary__item,
  .figure {
    background-color: var(--color-secondary);
    cursor: crosshair;

    &:hover {
      background-color: var(--color-primary);
    }
  }
}

.content {
  &.fullscreen {
    position: relative;
    z-index: 999;
  }
}

@function getWidth($column) {
  @return calc((100vw - var(--margin-lg) * (var(--columns) + 1)) / var(--columns) * #{$column} + var(--margin-lg) * (#{$column} - 1));
}
