.data {
  @include padding(1.5);

  @include mq(sm) {
    @include padding(2);
  }
}

.data__block {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-column-gap: var(--margin-lg);
  align-items: flex-start;
  height: 100%;

  @include mq(sm) {
    grid-template-columns: repeat(14, minmax(0, 1fr));
  }
}

.data__col {
  @include padding(0 0 1.5 0);
  position: relative;

  @include mq(sm) {
    padding: 0;
  }

  &--image {
    @include mq(sm) {
      grid-column: 1 / 11;
    }

    &:after {
      content: "";
      display: none;
      position: absolute;
      height: 100%;
      width: 0;
      top: 0;
      border-left: 1px solid var(--color-secondary);
      right: calc(var(--margin-sm) * -1);

      @include mq(sm) {
        display: inline-block;
      }
    }
  }

  &--text {
    @include mq(sm) {
      grid-column: 11 / 15;
      position: -webkit-sticky;
      position: sticky;
      top: calc(var(--margin-lg) + var(--top-height));
    }
  }

  .data__block:not(:last-child) & {
    @include mq(sm) {
      @include padding(0 0 2 0);
    }
  }
}

.data__image {
  img {
    display: block;
  }
}

.data__quote {
  font-weight: bold;
  margin-bottom: var(--lh);
}

.data__text {
  @extend .paragraph;
  margin-bottom: var(--lh);
}

.data__source {
  color: var(--color-secondary);
}
