.essay {
  @include padding(0 1.5);

  @include mq(sm) {
    @include padding(0 2);
  }
}

.essay__inner {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-column-gap: var(--margin-lg);
  height: 100%;

  @include mq(sm) {
    grid-template-columns: repeat(14, minmax(0, 1fr));
  }
}

.essay__col {
  @include padding(1.5 0);
  position: relative;

  @include mq(sm) {
    @include padding(2 0);
  }

  &--menu {
    display: none;

    @include mq(lg) {
      grid-column: 1 / 3;
      display: block;
    }

    &:after {
      content: "";
      display: none;
      position: absolute;
      height: calc(var(--content-height) - var(--margin-lg) * 2);
      width: 0;
      top: var(--margin-lg);
      border-left: 1px solid var(--color-secondary);
      right: calc(var(--margin-sm) * -1);

      @include mq(sm) {
        display: inline-block;
      }
    }
  }

  &--content {
    @include mq(sm) {
      grid-column: 1 / 8;
    }

    @include mq(lg) {
      grid-column: 3 / 10;
    }
  }

  &--double {
    display: none;

    @include mq(sm) {
      display: flex;
    }

    &:before {
      content: "";
      display: none;
      position: absolute;
      height: calc(var(--content-height) - var(--margin-lg) * 2);
      width: 0;
      top: var(--margin-lg);
      border-left: 1px solid var(--color-secondary);
      left: calc(var(--margin-sm) * -1);

      @include mq(sm) {
        display: inline-block;
      }
    }

    &:after {
      @extend .transition;
      transition-property: left;
      content: "";
      display: none;
      position: absolute;
      height: calc(var(--content-height) - var(--margin-lg) * 2);
      width: 0;
      top: var(--margin-lg);
      border-left: 1px solid var(--color-secondary);
      left: calc((100% - var(--margin-lg) * 4) / 7 * 4 + var(--margin-lg) * 3.5);

      @include mq(sm) {
        display: inline-block;
        left: calc((100% - var(--margin-lg) * 4) / 7 * 4 + var(--margin-lg) * 2.5 - 2px);
      }

      @include mq(lg) {
        left: calc((100% - var(--margin-lg) * 4) / 5 * 3 + var(--margin-lg) * 2.5);
      }
    }

    &.zoomed:after {
      left: 100%;
    }

    @include mq(sm) {
      grid-column: 8 / 15;
      padding: 0;
    }

    @include mq(lg) {
      grid-column: 10 / 15;
    }

    & > div {
      &:nth-child(1) {
        @include mq(sm) {
          width: calc((100% - var(--margin-lg) * 4) / 7 * 4 + var(--margin-lg) * 3);
          margin-right: var(--margin-lg);
        }

        @include mq(lg) {
          width: calc((100% - var(--margin-lg) * 4) / 5 * 3 + var(--margin-lg) * 2);
        }
      }

      &:nth-child(2) {
        @include mq(sm) {
          width: calc((100% - var(--margin-lg) * 4) / 7 * 3 + var(--margin-lg) * 2);
        }

        @include mq(lg) {
          width: calc((100% - var(--margin-lg) * 4) / 5 * 2 + var(--margin-lg) * 1);
        }
      }
    }
  }

  &--fixed {
    @include mq(sm) {
      height: var(--content-height);
      position: -webkit-sticky;
      position: sticky;
      top: var(--top-height);
    }
  }
}

.essay__scroll {
  @extend .transition;
  transition-property: width, margin-right;

  @include mq(sm) {
    @include padding(2 0);
    overflow: auto;
    height: 100%;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .zoomed & {
    &:nth-child(1) {
      width: 100% !important;
      margin-right: var(--margin-sm) !important;
    }

    &:nth-child(2) {
      width: 0 !important;
    }
  }
}

.essay__text {
  @extend .h4, .paragraph;
  padding: 2px;
}

.essay__chapter {
  &:not(:last-child) {
    margin-bottom: calc(var(--lh-md) * 2);
  }
}

.essay__title {
  font-weight: bold;
}

.essay__menu {
  padding: 2px;
}

.essay__menu__item {
  display: flex;

  &:before {
    @include margin(0 0.5 0 0);
    content: "○";
  }

  &.active:before {
    content: "●";
  }
}

.essay__figures {
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

.essay__figure {
  padding: 2px;
  cursor: zoom-in;

  .essay__col.zoomed & {
    cursor: zoom-out;
  }

  &:not(:last-child) {
    @include margin(0 0 4 0);
  }

  &.active {
    background-color: var(--color-primary);
  }
}

.essay__figure__image {
  @include margin(0 0 2 0);

  img {
    display: block;
  }
}

.essay__glossary__item {
  padding: 2px;

  &.active {
    background-color: var(--color-primary);
  }

  &:not(:last-child) {
    margin-bottom: calc(var(--lh) * 2);
  }
}

.figure__val {
  display: none;

  @include mq(sm) {
    display: inline;
  }
}

.figure__mobile {
  @extend .h5;
  @include margin(1.5 0 0 0);
  display: flex;
  flex-direction: column;

  @include mq(sm) {
    display: none;
  }
}

.figure__mobile__caption {
  @include margin(0.5 0 0 0);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.glossary__item__text {
  @include padding(1 0);
  @extend .h5;
  font-weight: normal;
  display: flex;

  &:empty {
    display: none;
  }

  @include mq(sm) {
    display: none;
  }
}
