.mapping {
  @include padding(0 1.5);

  @include mq(sm) {
    @include padding(0 2);
  }
}

.mapping__inner {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-column-gap: var(--margin-lg);
  height: 100%;

  @include mq(sm) {
    grid-template-columns: repeat(14, minmax(0, 1fr));
  }
}

.mapping__col {
  @include padding(1.5 0);
  position: relative;

  @include mq(sm) {
    @include padding(2 0);
  }

  &--videos {
    @include mq(sm) {
      grid-column: 1 / 6;
    }

    @include mq(lg) {
      grid-column: 1 / 5;
    }
  }

  &--map {
    @include mq(sm) {
      grid-column: 6 / 15;
    }

    @include mq(lg) {
      grid-column: 5 / 15;
    }

    &:before {
      content: "";
      display: none;
      position: absolute;
      height: calc(var(--content-height) - var(--margin-lg) * 2);
      width: 0;
      top: var(--margin-lg);
      border-left: 1px solid var(--color-secondary);
      left: calc(var(--margin-sm) * -1);

      @include mq(sm) {
        display: inline-block;
      }
    }
  }

  &--fixed {
    height: var(--content-height);

    @include mq(sm) {
      position: -webkit-sticky;
      position: sticky;
      top: var(--top-height);
    }
  }
}

.mapping__block {
  @extend .paragraph;
  padding: 2px;

  &:not(:last-child) {
    @include margin(0 0 2 0);
    padding-bottom: var(--margin-lg);
    border-bottom: 1px solid var(--color-secondary);
  }

  &.playing,
  &.paused {
    background-color: var(--color-primary);
  }
}

.mapping__image {
  @include margin(0 0 2 0);
  cursor: pointer;
}

.mapping__image__inner {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}

.mapping__title,
.mapping__player {
  margin-bottom: var(--lh);
}

.mapping__player {
  display: flex;
}

.mapping__player__inner {
  @include margin(0 2 0 0);
  cursor: pointer;

  &:after {
    font-weight: bold;
    content: "Play";
  }

  .mapping__block.playing &,
  .mapping__video.playing & {
    &:after {
      font-weight: bold;
      content: "Pause";
    }
  }
}

.mapping__length {
  font-weight: bold;
}

.mapping__video {
  @include padding(1.5 0);
  width: 100%;
  position: fixed;
  height: var(--content-height);
  top: var(--top-height);
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;

  @include mq(sm) {
    @include padding(2);
    width: calc(#{getWidth(9)} + var(--margin-lg) + var(--margin-sm) - 1px);
    padding-left: calc(#{getWidth(1)} + var(--margin-lg));
    padding-right: calc(#{getWidth(1)} + var(--margin-lg));
  }

  @include mq(lg) {
    width: calc(#{getWidth(10)} + var(--margin-lg) + var(--margin-sm) - 1px);
  }

  & > div {
    width: 100%;
    max-height: calc(100% - var(--header-height));
    cursor: initial;
  }

  .content.fullscreen & {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    padding: 0;

    & > div {
      &:first-child {
        height: 100%;
      }
    }
  }
}

.mapping__video__inner {
  height: 100%;

  .content.fullscreen & {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  video {
    width: 100%;
    max-height: 100%;
    display: block;
    background-color: black;
  }
}

.mapping__video__footer {
  @include padding(1.5);
  display: flex;
  justify-content: space-between;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);

  @include mq(sm) {
    @include padding(2);
  }
}

.mapping__video__player {
  display: flex;
}

.mapping__buttons {
  display: flex;

  & > div {
    cursor: pointer;

    &:first-child {
      @include margin(0 2 0 0);
    }
  }
}

#detach-button-host {
  display: none;
}
