.video {
  @include padding(0 1.5);

  @include mq(sm) {
    @include padding(0 2);
  }
}

.video__inner {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-column-gap: var(--margin-lg);
  height: 100%;

  @include mq(sm) {
    grid-template-columns: repeat(14, minmax(0, 1fr));
  }
}

.video__col {
  @include padding(1.5 0);
  position: relative;

  @include mq(sm) {
    @include padding(2 0);
  }

  &--video {
    @include mq(sm) {
      grid-column: 1 / 10;
    }

    @include mq(lg) {
      grid-column: 1 / 11;
    }

    &:after {
      content: "";
      display: none;
      position: absolute;
      height: calc(var(--content-height) - var(--margin-lg) * 2);
      width: 0;
      top: var(--margin-lg);
      border-left: 1px solid var(--color-secondary);
      right: calc(var(--margin-sm) * -1);

      @include mq(sm) {
        display: inline-block;
      }
    }

    & > div {
      width: 100%;
      max-height: calc(100% - var(--header-height));
      cursor: initial;
      display: flex;
    }

    .content.fullscreen & {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: black;
      padding: 0;
      z-index: 999;

      & > div {
        &:first-child {
          height: 100%;
        }
      }
    }
  }

  &--text {
    @include mq(sm) {
      grid-column: 10 / 15;
    }

    @include mq(lg) {
      grid-column: 11 / 15;
    }
  }

  &--fixed {
    @include mq(sm) {
      height: var(--content-height);
      position: -webkit-sticky;
      position: sticky;
      top: var(--top-height);
    }
  }
}

.video__col__inner {
  .content.fullscreen & {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  video {
    width: 100%;
    max-height: 100%;
    display: block;
    background-color: black;
  }
}

.video__footer {
  @include padding(1.5);
  display: flex;
  justify-content: space-between;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);

  @include mq(sm) {
    @include padding(2);
  }
}

.video__player {
  display: flex;
}

.video__player__inner {
  @include margin(0 2 0 0);
  cursor: pointer;

  &:after {
    font-weight: bold;
    content: "Play";
  }

  .video__col.playing & {
    &:after {
      font-weight: bold;
      content: "Pause";
    }
  }
}

.video__length {
  font-weight: bold;
}

.video__text {
  @extend .paragraph;
}

.video__fullscreen {
  cursor: pointer;
}
